{% extends "base/BaseParie.html "%}

<!--SECTION CAROUEL -->
{% block content %}
<section class="team-section " style="color: whitesmoke">
        <!-- Section heading -->
        <h2 class="h1-responsive font-weight-bold   text-center">Mes Parie </h2>
        <!-- Section description -->
        <div class="row  text-center">
            <div class="col-lg-3 col-md-4 mb-lg-0 " style="color: #0b2a41">
                <div class="avatar mx-auto">
                    <img src="https://mdbootstrap.com/img/Photos/Avatars/img%20(20).jpg" class="rounded-circle z-depth-1" alt="Sample avatar">
                </div>
                <h5 class="font-weight-bold mt-4 mb-3">{{user}}</h5>
                <p class="text-uppercase blue-text"><strong></strong></p>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong>Prenom :</strong><span>{{user.last_name}}</span></li>

                    <li class="list-group-item"><strong>Contact :</strong><span>{{user.profile.numero}}</span></li>
                    <li class="list-group-item"><strong>Solde Actuel:</strong><span>{{user.profile.compte_client}}</span></li>

                </ul>

                <ul class="list-unstyled mb-0">
                    <!-- Facebook -->
                    <a class="p-2 fa-lg fb-ic "  data-toggle="modal" data-target="#passwordAdmin">
                        <i class="far fa-edit"></i>
                    </a>
                    <!-- Twitter -->
                    <a class="p-2 fa-lg tw-ic" data-toggle="modal" data-target="#passwordAdmin">
                        <i class="far fa-edit"></i>
                    </a>
                    <!-- Instagram -->
                    <a class="p-2 fa-lg ins-ic">
                        <i class="fab fa-instagram blue-text"> </i>
                    </a>
                </ul>
            </div>
        <!-- Grid column -->
            <div class="col-lg-7 col-md-6 mb-lg-0  col-md-8 tableau table-responsive-md">
                <table class="table">
                    <thead>
                        <tr>
                        <th scope="col">Date</th>
                        <th scope="col">Match</th>
                        <th scope="col">type Parie</th>
                        <th scope="col">Victoir</th>
                        <th scope="col">Mise</th>
                        <th scope="col">Solde</th>
                       <th scope="col">valide</th>
                        <th scope="col">plus</th>

                        </tr>
                    </thead>
                    <tbody style="color: #c54b50">
                        {% for parie in myAllParie %}
                            <tr>
                                <td>{{parie.date_parie}}</td>
                                <td>{{parie.idMath}}</td>
                                <td>Victoir</td>
                                <td>{{parie.idVictoir}}</td>
                                <td>{{parie.mise}}</td>
                                <td>{{parie.gainParie}}</td>
                                <td>{{parie.resultat}}</td>
                                <td><a href="{% url 'parie' parie.idMath.pk %}">voir le Match </a></td>
                            </tr>
                        {% endfor %}

                    </tbody>

                </table>
            </div>
        </div>
        <!-- Grid row -->
</section>
{% endblock %}