{% extends "base/indexBase.html "%}

<!--SECTION CAROUEL -->
{% block content %}
<section>
    <h3 class="myH3">Maths du jour </h3>
    <div class="container">
        {% for sp in all_info %}
        <div class="container sportSection">
            <h2>{{sp.nom}}</h2>

            {% for math in sp.typeMath.all %}
            <div class="matnInfo">
                <div>
                    <p>Debut du Math :<span>{{math.heure_debut}}</span></p>
                </div>
                <div class="row">
                  <div class="col-md">
                      <h5>{{math.idEquipe1}}{{math.pk}}</h5>
                  </div>
                    <div class="col-md">
                        vs
                    </div>
                  <div class="col-md">
                      <h5>{{math.idEquipe2}}</h5>
                  </div>
                </div>
                <div>
                    <a class="btn blue-gradient" href="{% url 'parie' math.pk %}"> parier </a>
                </div>

            </div>
            {% endfor %}
        </div>


        {% endfor %}


    </div>
</section>
{% endblock %}


