{% extends "base/BaseParie.html "%}

<!--SECTION CAROUEL -->
{% block content %}
<h4 class="myH4">Maths du Jours </h4>
<h5 class="myH5">On parie que vous allez gagner ;-)</h5>
<div class="container matnInfo">
    <div class="sectionHeure">
     <p><i class="far fa-clock"></i> <strong>{{mathInfo.heure_debut}}</strong></p>
        <p>
            <span class="etatMath"></span>
        </p>
     <p>
         <i class="fas fa-stopwatch"></i>
         <span class="myChrono">
             <strong class="myHeure"></strong>-<strong class="myMin"></strong>-<strong class="mySec"></strong>
         </span>
     </p>
    </div>
    <div class="row">
        <div class="col-md">
            <p>{{mathInfo.idEquipe1}}</p>
            <p>v1 <strong id="cote1">{{mathInfo.idEquipe1.cote|floatformat:2}}</strong></p>
        </div>
        <div class="col-md">
            {{mathInfo.scoreEq1}}-{{mathInfo.scoreEq2}}
        </div>
        <div class="col-md">
            <p>{{mathInfo.idEquipe2}}</p>
            <p >v2:<strong id="cote2">{{mathInfo.idEquipe2.cote|floatformat:2}}</strong></p>
        </div>

    </div>
    <div>
        <button class="btn myBtn" data-toggle="modal" data-target="#fullHeightModalRight"> parier </button>
    </div>

</div>

<!--SECTION MODAL  -->
<!-- Full Height Modal Right -->
<div class="modal fade right " id="fullHeightModalRight" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
  aria-hidden="true">

  <!-- Add class .modal-full-height and then add class .modal-right (or other classes from list above) to set a position to the modal -->
  <div class="modal-dialog modal-full-height modal-right" role="document">


    <div class="modal-content myModal">
      <div class="modal-header">
        <h4 class="modal-title w-100" id="myModalLabel">On parie que vous allez gagner ;-)</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
            <div class="container myFormDiv">
                <form method="post" action="{% url 'saveParie' %}">
                    {% csrf_token %}
                    <div>
                       <select class="browser-default custom-select mySelect" id="idVirtoir" name="idVictoir">
                          <option selected value="0">Selection ton Equpe Gagnante </option>
                          <option value='1'>{{mathInfo.idEquipe1}}</option>
                           <option value='2'>{{mathInfo.idEquipe2}}</option>
                        </select>
                    </div>
                    <div >
                        <!-- Material input -->
                        <div class="md-form">
                          <input type="number" id="mise" name="mise" class="form-control">
                          <label for="mise">Mise </label>
                        </div>
                    </div>
                    <div>
                        <!-- Material input -->
                        <div class="md-form">
                          <input type="number" id="gainPotentiel" name="gain" class="form-control" readonly>
                          <label for="gainPotentiel">Gaim Victoir </label>
                        </div>
                    </div>
                    <div>
                        <!-- Material input -->
                        <div class="md-form">
                          <input type="hidden" id="idUser" name="idUser" class="form-control"  value="{{user.pk}}">
                        </div>
                        <div class="md-form">
                          <input type="hidden" id="idMath" name="idMath" class="form-control"  value="{{mathInfo.id}}">
                        </div>
                    </div>
                    <input type="submit" class="btn btn-primary btn-sm" id="submitParie" value="let go" >

                </form>
            </div>
      </div>
      <div class="modal-footer justify-content-center">
        <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>

      </div>
    </div>
  </div>
</div>
<!--<form method="post" style="display: none" action="{% url 'AtualisationParie' %}">-->
<!--    {% csrf_token %}-->
<!--        <div>-->
<!--            <input type="hidden" id="validIdMath" name="idMath" class="form-control"  value="{{mathInfo.id}}">-->
<!--        </div>-->
<!--    <input type="submit" class="btn btn-primary btn-sm" id="ActualisationParie" value="let go" >-->


<!--</form>-->
<!-- Full Height Modal Right -->
<!--FIN DE LA SECTION -->
{% endblock %}