{% extends "base/BaseParie.html "%}
{% block content %}
<!-- Material form register -->
<section>
    <div class="container " id="registerSection">
       <div class="card">

    <h5 class="card-header info-color white-text text-center py-4">
        <strong>Cree votre compte </strong>
    </h5>

    <!--Card content-->
    <div class="card-body px-lg-5 pt-0">

        <!-- Form -->
        <small  class="form-text text-muted mb-4" style="color: #ff645d">
                      {{error}}
        </small>

        <form class="text-center" style="color: #757575;" action="{% url 'myRegister' %}" method="post">
            {% csrf_token%}

            <div class="form-row">
                <div class="col">
                    <!-- First name -->
                    <div class="md-form">
                        <input type="text" id="Fname" name="Fname" class="form-control" value="{{Fname}}">
                        <label for="Fname">First name</label>
                    </div>
                </div>
                <div class="col">
                    <!-- Last name -->
                    <div class="md-form">
                        <input type="text" id="Lname" name="Lname" class="form-control" value="{{Lname}}">
                        <label for="Lname">Last name</label>
                    </div>
                </div>
            </div>

            <!-- E-mail -->
            <div class="md-form mt-0">
                <input type="email" id="Mail" name="Email" class="form-control" value="{{Email}}">
                <label for="Mail">E-mail</label>
            </div>

            <!-- Password -->
            <div class="form-row">
                <div class="md-form col">
                    <input type="password" id="Pass" name="Pass" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                    <label for="Pass">Password</label>
                    <small id="" class="form-text text-muted mb-4">
                        At least 8 characters and 1 digit
                    </small>
                </div>
                <div class="md-form col">
                    <input type="password" id="PassConf" name="PassConf" class="form-control" aria-describedby="materialRegisterFormPasswordHelpBlock">
                    <label for="PassConf">Confirm Password</label>
                </div>
            </div>
            <!-- Phone number -->
            <div class="md-form">
                <input type="number" id="num" name="num" class="form-control" value="{{Phone}}" aria-describedby="materialRegisterFormPhoneHelpBlock">
                <label for="num">Phone number</label>
                <small id="materialRegisterFormPhoneHelpBlock" class="form-text text-muted mb-4">
                    Optional - for two step authentication
                </small>
            </div>

            <!-- Newsletter -->
            <div class="form-check">
                <input type="checkbox" class="form-check-input" id="materialRegisterFormNewsletter">
                <label class="form-check-label" for="materialRegisterFormNewsletter">Subscribe to our newsletter</label>
            </div>

            <!-- Sign up button -->
            <button class="btn btn-outline-info btn-rounded btn-block my-4 waves-effect z-depth-0" type="submit">Sign in</button>

            <!-- Social register -->
            <p>or sign up with:</p>

            <a type="button" class="btn-floating btn-fb btn-sm">
                <i class="fab fa-facebook-f"></i>
            </a>
            <a type="button" class="btn-floating btn-tw btn-sm">
                <i class="fab fa-twitter"></i>
            </a>
            <a type="button" class="btn-floating btn-li btn-sm">
                <i class="fab fa-linkedin-in"></i>
            </a>
            <a type="button" class="btn-floating btn-git btn-sm">
                <i class="fab fa-github"></i>
            </a>

            <hr>

            <!-- Terms of service -->
            <p>By clicking
                <em>Sign up</em> you agree to our
                <a href="" target="_blank">terms of service</a>

        </form>
        <!-- Form -->

    </div>

</div>

    </div>
</section>
<!-- Material form register -->
{% endblock %}
