body{
    /*background-color: red;*/
    background-image: url("/static/images/stade1.jpg");
    background-size: cover;
    background-repeat: repeat-x;
    margin-top:5%;
    text-align: center;
}
.myH4{
    text-align: center;
    color: white;
    border-top:2px solid white;
    border-bottom: 2px solid white;
    width: 300px;
    margin: 0 auto;
    padding: 20px;
}
.myH5{
    margin:20px;
    color: rgba(20, 43, 96, 0.8);
}
.myBtn{
    background-image: linear-gradient(to right, blue, #1C172E); !important;
}

.matnInfo{
    border: 2px solid white;
    background-color: rgb(69, 69, 96,0.5);
    /*height: 150px;*/
    text-align: center;
    color: white;
    padding: 15px;
    margin: 10px;
    margin: 0 auto;

}

.myModal{
        color: white;
        background-image: url("/static/images/stade.jpg");
        background-size: cover;
        background-repeat: repeat-x;

}
.myFormDiv{
    background-color: rgba(23, 24, 63, 0.8);
    margin-top:20px;
    border: none;
    padding: 30px;
    text-align: center;
    color: white;
}
.mySelect{
    color: white;
    background: none;
    text-align: center;
    font-weight: bolder;
}
input{
    color: white;
    text-align: center;
    font-weight: bolder;
}
.sectionHeure{
    margin: 10px;
}